*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#wrapper{
    width: 60%;
    margin: 0px auto;
    background-color: #ACB3A8; 
}

body{
    background-image: url("/Pokeapi/images/carbonbg.jpg");
    text-align: center;
}


#header{
    margin: 0 auto;
    padding: 50px;
    font-size: 50px;
    color: white;
    background-color: 	#FB0605;
}

.btnDark{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ui-content{
    padding: 50px;
    text-align: left;
}

.ui-btn{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

ul{
    padding: 20px;
    background-color: #ACB3A8;
    color: white;
    width: 40%;
}

#mainAbility{
    padding: 20px;
}

#pokeImg img{
    /* outline: 8px solid black; */
    background-color: #FBFBFB;
    width: 75%;
    margin: 30px;
    border-radius: 15%;
}

#circle1{
    padding: 30px;
    width: 50px;
    height: 50px;
    margin-top: -20px;
    background-color: lightblue;
    display: inline-block;
    border-radius: 50%; 
    color: lightblue;
}

.whiteOutline{
    position: relative;
    text-align: center;
    padding: 37px;
    width: 50px;
    height: 50px;
    margin-top: -20px;
    background-color: white;
    display: inline-block;
    border-radius: 50%; 
    color: white;
}

.movesList{
    display: none;
}

#showMovesBtn{
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 30px;

}