/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
#wrapper{
    width: 950px;
    background-color: darkslategray;
    margin: 0px auto;
    padding: 10px;
}
#header{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 150px;
    background-color: green;
}
#navigation{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: block;
    min-height: 300px;
    width: 200px;
    background-color: blue;
}
#main_content{
    display: inline-block;
    margin-left: 225px;
    margin-top: -320px;
    min-height: 400px;
    width: 700px;
    background-color: red;
}
.subcontents{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    min-height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement{
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 50px;
    min-height: 120px;
    width: 660px;
    background-color: purple;
}
   