@model ViewModelFun.Models.User

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <h2 class="text-center">@Model.user</h2>
    </div>
</div>