<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        var StringList = new List<string>{
            "Apple Pie",
            "Burritos",
            "Clams Casino",
            "Donuts",
            };

            foreach (var item in StringList)
            {
                <p>@item</p>
            }
    }
</body>
</html>