<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Checkerboard!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>

        <h1>Welcome!</h1>
        
            <table>
                {% for i in range(x): %}
                <tr>
                    {% for j in range(y): %}
                    <td class='color{{ (i+j)%2+1 }}'></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

    </body>
</html>